nav {
    display: flex;
    border-bottom: 5px solid #f3f3f3;
    justify-content: right;
    align-items: center;
    padding: 10px;
    z-index: 999;
    margin-left: 2rem;
}

.nav-container{
    align-items: right;
}