nav {
    display: flex;
    border-bottom: 5px solid #7ca85e;
    padding: 10px;
    z-index: 999;
    margin-left: 2rem;
    background-color: rgb(75, 75, 167);
}

.nav-container{
    width: 100%;
    display: flex;
}
.search-input{
    width: 25%;
}

.nav-container .fruit{
    width: 40px;
    margin-right: 110px;

}

