nav {
    display: flex;
    border-bottom: 5px solid #7ca85e;
    justify-content: right;
    align-items: center;
    padding: 10px;
    z-index: 999;
    margin-left: 2rem;
    background-color: rgb(75, 75, 167);
}

.nav-container{
    align-items: right;
}