
.btns {
    color: white;
    background-color:  #f1356d;
    width: 200px;
    border-radius: 15px;

}

.traverse{
    display: flex;

    
    z-index: 999;


    transform: rotate(90deg);


    
}

.traverse button{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    position:sticky;
    left: 10%;
}