#test2{
    color:rgb(126, 18, 214);
    background-color: rgb(226, 126, 3);
    text-align: center;
    position: absolute;
    left: .1%;
    top: 18%;
    width: 98px;
    font-size: 72px;
    cursor:grab;
    
}