

.Nav-Banner-ele{
    display: flex;
    justify-content: end;
    border: 2px solid #e621dc;
    margin-top: 10px;
}

#Logo{
    float: left;
    padding: 1px;
    width: 100px;
    height: 190px;
    background-color: rgba(172, 159, 159, 0.329);
}
