

.Nav-Banner-ele{
    display: flex;
    border: 2px solid #e621dc;
    margin-top: 10px;
}

#Logo{
    float: left;
    padding: 1px;
    width: 100px;
    height: 190px;
    background-color: rgba(172, 159, 159, 0.329);
}

button{

    color: white;
    background-color:  #f1356d;
    width: 200px;
    border-radius: 15px;

}