.heading-banner{
    
    
    
    
}

.Nav-Banner-ele{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #e62121;
    margin-top: 10px;
    background-color: aquamarine;
}

#Logo{
    float: left;
    padding: 10px;
    width: 100px;
    height: 150px;
    border: 2px solid #e62121;
    background-color: chartreuse;
}

